
.p-5 h1 {
    font-family: 'Roboto Slab', serif;
    text-decoration: 3px solid underline #131313;
    margin-top:-30px ;
    background: -webkit-linear-gradient(to right, #c31432 10%, #240b36 80%);
    background: linear-gradient(to right, #c31432 10%, #240b36 80%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-colo:transparent;
}
.wrapper {
    height: 100vh;
    background: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff);

}

